.body{
    background-color: rgb(32, 32, 32);
    color: white;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flexbox;
}

.header{
    display: flex;
}
.navbar{
   float: right;
}

.name{
   flex: 1; 
}
.hamburger{
    margin-right: 50px;
    margin-top: 20px;
}
.bar {
    display: block;
    width: 30px;
    height: 4px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}


.navMenu{
    display: none;
}
.navMenu.active {
    display: block;
}

.navItem {
    margin-right: 50px;
}
.centered {
    text-align: center;
}
.name {
    padding-top: 70px;
    font-size: 50px; 
}

.biggerText {
    font-size: 50px;
}

.changingWord {
    padding-top: 70px;
}

.flex {
    display: flex;
}

.flex-child {
    flex: 1 1 0px;
}

.chart {
    margin: 50px;
    margin-bottom: 70px;
}

.margin-top {
    margin-top: 50px;
}

a:link {
    color:white;
    text-decoration: none;
    font-size: 50px;
}

a:visited {
    color:white;
}

a:hover {
    color: lightgrey;
}